.background-image {
  height: 100vh;
  width: 100%;
  overflow: auto;

  img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 10%;
  }
}


.content {
  position: relative;
  color: rgb(28, 28, 35);
  padding: 15px;
  margin-top: 150px;
  z-index: 1;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: rgb(48, 241, 183);
  color: white;
  font-weight: 600;
}

h1 {
  color: rgb(28, 28, 35);
  font-weight: 700;
  font-size: 40px;
}

h5 {
  color: rgb(121, 121, 137);
  font-weight: 600;
  font-size: 16px;
}

h4 {
  color: rgb(28, 28, 35);
  font-weight: 600;
  font-size: 20px;
}

.card{
  padding: 50px;
  border-style: none;
}

#Titolo-pagina {
  font-size: 150px;
  color: black;
  line-height: 120px;
  margin-bottom: 50px;

}

a{
  text-decoration: none;
}
